<style>
        body{
            margin: 0;
            padding: 0;
            font-family: "Inter", sans-serif;
            box-sizing: border-box;
        }
        h1{
            font-size: 50px;
        }
        h4{
            font-size:30px;
        }
        header {
            position: fixed;
            width: 100%;
            background-color: #f0f0f0; 
            top: 0;
            left: 0;
            display: flex; 
            align-items: center; 
            justify-content: center;
            box-shadow: 0 0 10px 2px #aaa; 
            padding: 20px 120px; 
            z-index: 100; 
        }       
        header nav ul li:first-child a {
            color: red; 
        }
        article, section {
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 120px;
            margin-right: 120px;
            font-size: 20px;
            
        }
        article {
            position: relative; 
            display: fixed; 
            flex-direction: row; 
            align-items: center; 
            justify-content: center; 
            padding: 150px 120px; 
        }
        footer {
            background-color: #f2f2f2; 
            color: #333; 
            text-align: center; 
            padding: 20px 0; 
            font-size: 16px; 
            border-top: 1px solid #ccc; 
        }
        

</style>